.App {
  margin: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.items {
  width: 60%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  border: 2px solid darkblue;
  position: relative;
  padding: 20px 15px 0;
}
.items h2, .order h2 {
  position: absolute;
  top: -35px;
  left: 20px;
  background: #fff;
  padding: 0 8px;
}
.order {
  width: 30%;
  border: 2px solid darkblue;
  position: relative;
  padding: 20px 50px 0 15px;
}

.wrapper {
  width: 45%;
}
.wrapper h5 {
  font-size: 25px;
  margin: 0;
}
.wrapper p {
  font-size: 18px;
}
.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.point h5 {
  font-size: 21px;
  margin: 3px 0;
}
.total-price {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
.warning {
  font-size: 18px;
}
.btn-items{
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.btn-items:hover {
  background: #ccc;
}
.btn-items-img {
  float: left;
  width: 90px;
  height: 90px;
}
.btn-remove {
  font-size: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: url("img/close.svg") 50% 50% no-repeat;
}
.btn-remove:hover {
  opacity: 1;
}
